<!DOCTYPE HTML>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Angular example for MetaWidget</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js" type="text/javascript"></script>
    <script src="./metawidget-core.min.js"></script>
    <script src="./metawidget-angular.min.js"></script>
    <style>
        p {
            text-align: center;
        }
        #metawidget {
            border: 1px solid #cccccc;
            width: 400px;
            border-radius: 10px;
            padding: 10px;
            margin: 50px auto;
        }
    </style>
</head>
<body ng-controller="myController">

<div>
    <h1>
        This is a coding challenge for Insignia Financial
    </h1>
        <metawidget id="metawidget" ng-model="dataToInspect">
        </metawidget>

    <button ng-click="saveData()">
        Add Data
    </button>


</div>

<script type="text/javascript">

    angular.module( 'myApp', [ 'metawidget' ] )
				.controller( 'myController', function( $scope ) {

// Define object to hold data
    $scope.dataToInspect = {
        name: "Rekha",
        age: "12",
        email: "test@test.com",
        // Nested address
        address : {
            city: "Sydney",
            state: "NSW",
            zipCode: "2000"
        },
        // One-To-Many Relation with children,
        children: [
        {name: "child1", hobby: "tennis"},
        {name: "child2", hobby: "badminton"}
        ]
    };

    // function to save data to the console
    $scope.saveData = function() {
        console.log("Data to check: ", $scope.dataToInspect);
    }

    });
</script>
</body>
</html>